doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Find your Drink ☕️
    // Normalize
    link(rel='stylesheet', type='text/css', href='styles/css/normalize.css')
    // Main Stylesheet
    link(rel='stylesheet', type='text/css', href='styles/css/main.css')
    script(src='js/jquery.js', type='text/javascript')
    
  body
  
    .overlay
      .alert
        // make this dependent on the error
        p Make sure you select an option! 
        .button.dismiss Okay
  
    .modal-container
      img(src="images/sbux-logo.png" alt="").sb-logo
      .modal-wrap
        .modal-header
          span.is-active
          span
          span
          span
          span
          span
          
        .modal-bodies
        
          .modal-body.modal-body-step-1.is-showing
            .title Not sure what to order?
            .description Lets figure out what sounds good today!
              .text-center
                .button.begin BEGIN
                
          .modal-body.modal-body-step-2
            .title Would you like your drink to be…
            
            .radio-container
              .input-container
                input#hot.radio-button.next(type='radio', name='hot-or-cold', value='hot')
                .radio-tile
                  .icon.hot-cup
                    svg(width='60px', viewbox='0 0 51 115', version='1.1')
                      g#assets(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                        g#Artboard-6(transform='translate(-257.000000, -59.000000)', fill='#4A4A4A')
                          g#hot-cup(transform='translate(257.000000, 59.000000)')
                            path#Combined-Shape(d='M48.0115007,40.7180052 L48.0758482,40.3674712 C48.025906,40.5706883 48,40.7815361 48,40.9951172 C48,41.6425803 48.2196166,42.171059 48.5314986,42.5584698 C48.6643177,42.7234539 48.765977,42.8100567 48.838099,42.8572989 C48.7353788,42.7900139 48.4414783,42.6564216 48.0039032,42.5030744 C46.8777821,42.1084278 45.1522839,41.6981734 43.0239583,41.333041 C38.1850791,40.5028902 31.9255803,40 25.5,40 C19.0744197,40 12.8149209,40.5028902 7.97604171,41.333041 C5.84771611,41.6981734 4.12221785,42.1084278 2.9960968,42.5030744 C2.55852166,42.6564216 2.26462121,42.7900139 2.16190101,42.8572989 C2.23402303,42.8100567 2.33568228,42.7234539 2.46850141,42.5584698 C2.78038342,42.171059 3,41.6425803 3,40.9951172 C3,40.7889976 2.97587012,40.5853266 2.92923557,40.388534 L2.98928994,40.7277176 L11.0267414,108.642539 L10.9872343,108.396661 C10.996204,108.440721 11.1511539,108.656065 11.5700739,108.981118 C12.2136226,109.480467 13.200994,109.982113 14.4662729,110.423736 C17.3169647,111.418719 21.21392,111.995117 25.5,111.995117 C29.4569851,111.995117 33.2270263,111.242975 36.2653164,109.998947 C37.5111525,109.488839 38.5503607,108.925094 39.2714053,108.394293 C39.554214,108.186102 39.7615615,108.001842 39.8813511,107.866001 C39.8837741,107.863253 39.8379914,107.938055 39.7750331,108.153447 L42.6545455,108.995117 L39.6768864,108.629677 L48.0115007,40.7180052 Z M42.6545455,108.995117 C42.0464755,111.075439 34.9741938,114.995117 25.5,114.995117 C16.0258062,114.995117 8.73212003,112.35791 8.04753196,108.995117 L0.0100804909,41.0802953 C0,39.3382629 11.4167389,37 25.5,37 C39.5832611,37 51,39.3382629 51,40.9951172 C51,41.0246601 42.6545455,108.995117 42.6545455,108.995117 Z')
                            path#logo(d='M5.05145499,64.7201931 C6.93219334,62.8594994 9.49408898,61.6938938 12.3346731,61.6443113 C18.230447,61.5414001 23.0941753,66.2851827 23.1981144,72.2398462 C23.3020534,78.1945097 18.6068436,83.1051442 12.7110697,83.2080553 C10.6734978,83.2436212 8.75919195,82.7003055 7.12202498,81.7281864 L5.05145499,64.7201931 L5.05145499,64.7201931 Z')
                            path#Path-3(d='M22.5755157,1.957055 C20.9631758,3.62594924 20,5.93019842 20,8.88409178 C20,11.8154257 21.0853512,13.4422964 23.9499024,16.1187347 C24.0139141,16.1785317 24.0139141,16.1785317 24.0775884,16.2380085 C26.4706467,18.4736351 27.2031622,19.579475 27.2031622,21.5844679 C27.2031622,23.8999272 26.6506532,25.4738585 25.7676826,26.4950968 C25.2928513,27.0442837 24.857361,27.3023374 24.6567252,27.3646431 C23.8655683,27.6103303 23.4233776,28.4508585 23.6690647,29.2420154 C23.9147519,30.0331724 24.7552801,30.4753631 25.546437,30.2296759 C26.2461965,30.0123715 27.1612991,29.4701193 28.0370607,28.4572188 C29.4050783,26.8749783 30.2031622,24.6014782 30.2031622,21.5844679 C30.2031622,18.5006546 29.081378,16.8071563 26.1255738,14.0458051 C26.0616071,13.9860551 26.0616071,13.9860551 25.9980254,13.9266598 C23.6984714,11.7781158 23,10.7311527 23,8.88409178 C23,6.72105264 23.6525469,5.15993513 24.733078,4.04150336 C25.1036944,3.65788732 25.4995712,3.35558702 25.8905243,3.12779715 C26.1090103,3.00049569 26.2609311,2.93161648 26.312219,2.91333536 C27.0925568,2.63519084 27.4996649,1.77712135 27.2215204,0.996783524 C26.9433758,0.216445697 26.0853064,-0.190662412 25.3049685,0.0874821125 C24.5652589,0.351145088 23.5626018,0.935345982 22.5755157,1.957055 Z')
                            path#Path-3-Copy(d='M13.0384613,16.7351068 C12.0742804,17.7331072 11.5,19.1069842 11.5,20.8292605 C11.5,22.6104615 12.1559951,23.5937553 13.777575,25.1088473 C13.8108757,25.1399554 13.8108757,25.1399554 13.8438275,25.170735 C14.9494445,26.203617 15.2356404,26.6356718 15.2356404,27.4158174 C15.2356404,28.4477811 15.0082116,29.0956572 14.6670413,29.4902526 C14.5172901,29.6634538 14.40688,29.7288784 14.4229643,29.7238835 C13.6318073,29.9695707 13.1896167,30.8100989 13.4353038,31.6012558 C13.6809909,32.3924128 14.5215192,32.8346034 15.3126761,32.5889163 C15.7957155,32.4389125 16.3857379,32.0892894 16.9364194,31.4523747 C17.7626367,30.4967769 18.2356404,29.1493321 18.2356404,27.4158174 C18.2356404,25.5568514 17.5601758,24.5371382 15.8918129,22.9785316 C15.8585687,22.9474788 15.8585687,22.9474788 15.825698,22.9167725 C14.7691153,21.9295747 14.5,21.5261885 14.5,20.8292605 C14.5,19.8978384 14.7636514,19.2670931 15.1960236,18.8195551 C15.3397842,18.6707519 15.4926015,18.5540573 15.6404949,18.4678868 C15.7131451,18.425557 15.7516381,18.4081047 15.7381101,18.4129266 C16.5184479,18.1347821 16.925556,17.2767126 16.6474115,16.4963748 C16.369267,15.716037 15.5111975,15.3089289 14.7308596,15.5870734 C14.2504136,15.7583241 13.6366519,16.115934 13.0384613,16.7351068 Z')
                            path#Path-3-Copy-2(d='M34.9796378,16.7526506 C34.0154568,17.7506511 33.4411765,19.1245281 33.4411765,20.8468044 C33.4411765,22.6280053 34.0971715,23.6112992 35.7187514,25.1263912 C35.7520522,25.1574993 35.7520522,25.1574993 35.785004,25.1882789 C36.890621,26.2211608 37.1768169,26.6532157 37.1768169,27.4333613 C37.1768169,28.4653249 36.949388,29.113201 36.6082177,29.5077965 C36.4584666,29.6809977 36.3480565,29.7464222 36.3641408,29.7414274 C35.5729838,29.9871145 35.1307931,30.8276427 35.3764803,31.6187997 C35.6221674,32.4099566 36.4626956,32.8521473 37.2538526,32.6064602 C37.736892,32.4564564 38.3269144,32.1068333 38.8775958,31.4699186 C39.7038131,30.5143208 40.1768169,29.166876 40.1768169,27.4333613 C40.1768169,25.5743952 39.5013522,24.554682 37.8329894,22.9960754 C37.7997451,22.9650227 37.7997451,22.9650227 37.7668744,22.9343163 C36.7102917,21.9471186 36.4411765,21.5437323 36.4411765,20.8468044 C36.4411765,19.9153823 36.7048279,19.284637 37.1372,18.837099 C37.2809607,18.6882958 37.433778,18.5716012 37.5816714,18.4854307 C37.6543216,18.4431008 37.6928145,18.4256485 37.6792865,18.4304705 C38.4596244,18.152326 38.8667325,17.2942565 38.5885879,16.5139186 C38.3104434,15.7335808 37.4523739,15.3264727 36.6720361,15.6046172 C36.1915901,15.775868 35.5778284,16.1334779 34.9796378,16.7526506 Z')
                  label.radio-label(for='hot') HOT
                  
              .or
                p or
                hr
                
              .input-container
                input#cold.radio-button.next(type='radio', name='hot-or-cold', value='iced')
                .radio-tile
                  .icon.cold-cup
                    svg(width='60px', viewbox='0 0 51 110')
                      g#assets(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                        g#Artboard-6(transform='translate(-383.000000, -65.000000)', fill='#4A4A4A')
                          g#cold-cup(transform='translate(383.000000, 65.000000)')
                            path#Combined-Shape(d='M42.8001555,37.1526263 C44.4659413,37.5107754 45.8885507,37.8928536 47.0678101,38.2726729 C47.474293,38.4035942 47.8198446,38.5241268 48.1044367,38.6309983 C48.2669067,38.6920099 48.3683501,38.7328127 48.4087353,38.750134 L47.5083681,37.2133593 L42.108047,88.1244921 L42.2953526,87.5419495 L40.7268914,90.3036682 L40.589407,90.5457484 L40.5479457,90.8210405 L38.5126762,104.334712 L39.0834252,103.3676 C39.0024459,103.429671 38.7822781,103.574834 38.418118,103.777208 C37.7730498,104.13569 36.9743044,104.499534 36.0166415,104.842897 C33.2228341,105.844595 29.7324257,106.451051 25.499785,106.45166 C21.2675752,106.451051 17.7771664,105.844595 14.9833586,104.842897 C14.0256957,104.499534 13.2269502,104.13569 12.581882,103.777208 C12.2177219,103.574834 11.9975541,103.429671 11.9165748,103.3676 L12.4873238,104.334712 L10.4520543,90.8210405 L10.410593,90.5457484 L10.2731086,90.3036682 L8.70464739,87.5419495 L8.89195301,88.1244921 L3.49163186,37.2133593 L2.59126471,38.750134 C2.63166381,38.7328067 2.73313804,38.6919919 2.89565551,38.6309637 C3.18032878,38.5240638 3.52597819,38.4035008 3.93257576,38.2725487 C5.11216511,37.8926404 6.53517128,37.5104871 8.20142064,37.1522874 C12.9980266,36.1211437 18.7644862,35.5003992 25.5000885,35.5 C32.2363062,35.5003993 38.0032912,36.1212856 42.8001555,37.1526263 Z M7.57090446,34.2192942 C5.80634416,34.5986281 4.28686588,35.0066893 3.0128928,35.4169956 C2.23186019,35.6685414 1.69702197,35.8693828 1.40873529,35.9930297 L0.391630477,36.4292687 L0.508368137,37.5298044 L5.90868928,88.4409372 L5.94165523,88.7517213 L6.0959949,89.0234798 L7.6644561,91.7851986 L7.48551041,91.2678263 L9.52077989,104.781498 L9.61095703,105.380251 L10.0915288,105.74861 C10.7650189,106.264841 12.0460672,106.976754 13.9708455,107.666869 C17.0895485,108.785055 20.9223463,109.451001 25.499785,109.451659 C30.0776546,109.451001 33.910452,108.785055 37.0291547,107.666869 C38.9539329,106.976754 40.2349811,106.264841 40.9084712,105.74861 L41.389043,105.380251 L41.4792201,104.781498 L43.5144896,91.2678263 L43.3355439,91.7851986 L44.9040051,89.0234798 L45.0583448,88.7517213 L45.0913107,88.4409372 L50.4916319,37.5298044 L50.6083695,36.4292687 L49.5912647,35.9930297 C49.3030516,35.8694143 48.7683547,35.6686221 47.9875311,35.4171321 C46.7139024,35.0069181 45.1948358,34.5989338 43.4307543,34.2196508 C38.4279978,33.1440426 32.4497557,32.5004119 25.5000893,32.5 C18.5510655,32.5004119 12.5733768,33.1438946 7.57090446,34.2192942 Z')
                            path#Combined-Shape-Copy(d='M4.19905287,57.3064396 C6.2315362,55.3592909 8.97474978,54.1652562 11.9933301,54.1652562 C18.2585441,54.1652562 23.3375036,59.3090468 23.3375036,65.6542341 C23.3375036,71.9994215 18.2585441,77.1432121 11.9933301,77.1432121 C9.82808031,77.1432121 7.80451489,76.5288456 6.08331611,75.462846 L4.19905287,57.3064396 Z', transform='translate(13.768278, 65.654234) rotate(-1.000000) translate(-13.768278, -65.654234) ')
                            path#Oval-5(d='M25.5060433,13.5 C12.2656707,13.5 1.51208669,23.8964795 1.51208669,36.7469783 L4.51208669,36.7469783 C4.51208669,25.5764282 13.9002775,16.5 25.5060433,16.5 C37.1118092,16.5 46.5,25.5764282 46.5,36.7469783 L49.5,36.7469783 C49.5,23.8964795 38.746416,13.5 25.5060433,13.5 Z')
                            path#Line(d='M27,1.5 C27,0.671572875 26.3284271,0 25.5,0 C24.6715729,0 24,0.671572875 24,1.5 L24,20.5 C24,21.3284271 24.6715729,22 25.5,22 C26.3284271,22 27,21.3284271 27,20.5 L27,1.5 Z')
                            path#Path-2(d='M4.0025075,37.9634121 C5.31168337,38.0552758 6.89744376,37.4505738 8.29924494,35.7063108 C8.98758264,34.8498113 9.58415271,33.7589307 10.0770081,32.4148399 C10.7376949,30.613048 11.6915715,29.805331 13.9655989,28.7388434 C14.0760804,28.687029 14.1805904,28.6383985 14.4001508,28.5363991 C16.6902429,27.4714693 17.7526456,26.7741063 18.7393449,25.3269331 C19.2234132,24.6169593 19.8753572,24.3205982 21.1478277,24.1557515 C21.3585156,24.1284572 21.5077958,24.1123634 21.9408316,24.0684057 C24.8877748,23.7692603 26.2620184,23.1198894 26.8861704,20.6838167 C26.9228973,20.5404713 26.8335612,20.5974089 27.0420465,20.6162868 C27.57379,20.664435 28.4215112,21.0294732 29.3951958,21.660923 C31.4022691,22.9625419 33.5028599,25.0962862 34.2277273,26.5302273 C35.6420195,29.3279966 37.1931023,30.4074942 40.0579063,31.3038845 C40.1743004,31.3402167 40.1743004,31.3402167 40.2886231,31.3757393 C40.6957661,31.5022634 40.8813467,31.5615583 41.0990271,31.6366833 C41.4793205,31.7679287 42.1280756,32.5573986 42.7602859,33.7631521 C43.0688341,34.351616 43.3532588,34.990854 43.604254,35.6311147 C43.7545075,36.0143944 43.8585643,36.3081589 43.9097501,36.4652351 L46.7621249,35.5357415 C46.6938038,35.3260818 46.5705276,34.9780585 46.3973032,34.5361824 C46.1091686,33.8011835 45.7816806,33.0651619 45.4172141,32.3700502 C44.4492562,30.523958 43.4115107,29.2611259 42.0777308,28.8008167 C41.8212536,28.7123023 41.615301,28.6464984 41.1789076,28.5108845 C41.0653286,28.4755924 41.0653286,28.4755924 40.9537683,28.4407688 C38.7926289,27.7645535 37.898721,27.1424259 36.9050852,25.1768039 C35.9163685,23.220913 33.4480295,20.7136163 31.0275337,19.1438865 C27.7819934,17.0391023 24.7924452,16.7684053 23.9800405,19.9392302 C23.7733208,20.7460598 23.4474286,20.9000535 21.6378574,21.0837438 C21.1756303,21.1306647 21.0107442,21.148441 20.7624028,21.1806132 C18.7237614,21.4447163 17.3203694,22.0826711 16.2606551,23.636934 C15.6727452,24.4992105 14.9573645,24.9687876 13.1351825,25.8161316 C12.9161959,25.9178615 12.807027,25.9686598 12.6917711,26.0227133 C9.77045673,27.3927696 8.25158487,28.6789093 7.2603942,31.3820351 C6.87548372,32.4317438 6.43537458,33.2365218 5.96082371,33.8270061 C5.50934559,34.3887809 5.06742942,34.7125959 4.65040188,34.8716221 C4.42957532,34.9558304 4.27500447,34.9751564 4.21249863,34.9707705 C4.23244408,34.97234 3.87312039,37.9505561 3.87312039,37.9505561 C3.92459514,37.9570064 3.92459514,37.9570064 4.0025075,37.9634121 Z')
                            path#Path-4(d='M11.1672784,30.4881311 C11.6727388,30.5843018 12.2387997,30.6801532 12.8534554,30.7694898 C15.0830651,31.0935505 17.3475036,31.2507418 19.4837652,31.1478999 C22.0860522,31.0226231 24.2979675,30.5188472 26.0094402,29.5205385 C26.7250272,29.1031338 26.9667518,28.1846625 26.5493471,27.4690754 C26.1319424,26.7534884 25.2134711,26.5117639 24.497884,26.9291686 C23.2719385,27.6442674 21.5026401,28.0472348 19.3395091,28.1513703 C17.4207076,28.2437434 15.3391236,28.0992453 13.2849539,27.8006838 C12.7151807,27.7178706 12.1919744,27.6292758 11.72801,27.5410003 C11.4541056,27.4888863 11.2641319,27.4492404 11.1706302,27.4281989 C10.3624152,27.2463196 9.55978522,27.754065 9.37790595,28.56228 C9.19602667,29.370495 9.70377206,30.1731249 10.511987,30.3550042 C10.637051,30.3831484 10.859528,30.4295774 11.1672784,30.4881311 Z')
                            path#Path-5(d='M8.63326273,90.8333849 C9.59091011,91.1575932 10.7066589,91.4800463 11.97192,91.7798878 C15.5638656,92.6311068 19.6490092,93.140625 24.1572266,93.140625 C24.9856537,93.140625 25.6572266,92.4690521 25.6572266,91.640625 C25.6572266,90.8121979 24.9856537,90.140625 24.1572266,90.140625 C19.8902364,90.140625 16.0360184,89.6599089 12.6637001,88.8607372 C11.4914689,88.5829419 10.4657191,88.2864986 9.59526815,87.9918104 C9.08568922,87.8192942 8.74883937,87.6893417 8.59356688,87.6224375 C7.83276013,87.2946196 6.95025546,87.6456264 6.62243753,88.4064331 C6.29461959,89.1672399 6.64562638,90.0497445 7.40643312,90.3775625 C7.63418675,90.4756974 8.04598268,90.6345632 8.63326273,90.8333849 Z')
                            path#Path-5-Copy(d='M41.7033425,88.0446827 C41.0680606,88.3305189 40.3172662,88.6188912 39.457758,88.8895947 C36.9782985,89.6705044 34.142179,90.140625 31,90.140625 C30.1715729,90.140625 29.5,90.8121979 29.5,91.640625 C29.5,92.4690521 30.1715729,93.140625 31,93.140625 C34.4605746,93.140625 37.5982908,92.6205112 40.3589717,91.7510303 C42.0389441,91.2219203 43.2368662,90.682932 43.902635,90.3016782 C44.621532,89.8900005 44.8705825,88.9734886 44.4589048,88.2545916 C44.0472271,87.5356945 43.1307152,87.286644 42.4118181,87.6983218 C42.3089648,87.7572209 42.0705228,87.879475 41.7033425,88.0446827 Z')
                  label.radio-label(for='cold') COLD
                
            //.text-center
              //.button.btn-hot-or-cold Next
                
          .modal-body.modal-body-step-3
            .title Would you prefer something with caffeine or no caffeine?
            
            .radio-container.less-margin
              .input-container
                input#caf.radio-button.next(type='radio', name='caf-or-no', value='caf')
                .radio-tile.caf-or-no Caffeinated
              .or
                p or
                hr
              .input-container
                input#no.radio-button.next(type='radio', name='caf-or-no', value='no')
                .radio-tile.caf-or-no No Caffeine
            
            //.text-center
              //.button Next
                
          .modal-body.modal-body-step-4
            .title How sweet do you like it?
            .radio-container
              p.uppercase Sweet
              .sweet-range-container
                .range-frame
                .range-body
                  .input-container
                    input.radio-button.next(type='radio', name='sweet-or-rich', value='White Mocha')
                    .radio-tile.range-option
                      .pop-up Very sweet!
                  .input-container
                    input.radio-button.next(type='radio', name='sweet-or-rich', value='Frappuccino')
                    .radio-tile.range-option
                      .pop-up Pretty sweet
                  .input-container
                    input.radio-button.next(type='radio', name='sweet-or-rich', value='Chai Tea Latte')
                    .radio-tile.range-option
                      .pop-up Balanced
                  .input-container
                    input.radio-button.next(type='radio', name='sweet-or-rich', value='Caramel Macchiato')
                    .radio-tile.range-option
                      .pop-up Pretty rich
                  .input-container
                    input.radio-button.next(type='radio', name='sweet-or-rich', value='Latte')
                    .radio-tile.range-option
                      .pop-up Very rich!
              p.uppercase Rich
            //.text-center
              //.button Next
                
          .modal-body.modal-body-step-5
            .title What size would you prefer?
            .size-container
              .input-container
                input.radio-button.next(type='radio', name='size', value='tall')
                .radio-tile
                  .icon
                    svg(width="47px", viewbox='0 0 47 63', version='1.1')
                      g#assets(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                        g#Artboard-6(transform='translate(-233.000000, -370.000000)', fill='#4A4A4A')
                          g#Group(transform='translate(233.000000, 370.000000)')
                            path#Combined-Shape-Copy-5(d='M6,23.5597902 C7.79336764,21.973034 10.2138502,21 12.8773035,21 C18.4054335,21 22.8868683,25.1917402 22.8868683,30.3625139 C22.8868683,35.5332875 18.4054335,39.7250277 12.8773035,39.7250277 C10.9667889,39.7250277 9.18129002,39.2243727 7.6625852,38.3556761 L6,23.5597902 Z')
                            path#Path-6(d='M46.5386069,4.60832068 L46.7110883,3.39208073 L45.5527156,2.98322615 C45.3000939,2.8940618 44.8300597,2.75041412 44.1382399,2.57106328 C43.0127819,2.27929393 41.6566898,1.98932417 40.0656001,1.71990531 C35.5573293,0.956520829 30.0560349,0.5 23.5267334,0.5 C16.9974319,0.5 11.4961375,0.956520829 6.98786671,1.71990531 C5.39677702,1.98932417 4.04068492,2.27929393 2.91522693,2.57106328 C2.22340708,2.75041412 1.75337294,2.8940618 1.50075121,2.98322615 L0.339457453,3.39311172 L0.515384596,4.61198784 L8.24145882,58.1405523 L8.33192323,58.767317 L8.8441723,59.1396322 C9.55959881,59.6596218 10.8721353,60.3921152 12.7559017,61.1100332 C15.8442475,62.2870258 19.4459916,62.9904785 23.5267334,62.9904785 C27.6088283,62.9904785 31.2378987,62.2741948 34.3711478,61.0764028 C36.2792622,60.3469606 37.6161819,59.6037994 38.3474602,59.0778958 L38.8669708,58.7042863 L38.9568198,58.070723 L46.5386069,4.60832068 Z M36.5958992,56.642319 C36.4841376,56.7226931 36.2221712,56.8900233 35.8151163,57.1162952 C35.1105046,57.5079718 34.2704438,57.9031607 33.2999032,58.2741831 C30.4978267,59.3453731 27.2293828,59.9904785 23.5267334,59.9904785 C19.8227309,59.9904785 16.5810683,59.3573529 13.824268,58.3067149 C12.8707285,57.9433136 12.0488156,57.5564759 11.362292,57.1733445 C10.9667846,56.9526218 10.7140278,56.7899878 10.6079761,56.7129068 L11.2106896,57.7119868 L3.4846154,4.18342231 L2.49924879,5.81218401 C2.67120286,5.75149179 3.05928201,5.63289047 3.66807461,5.47506404 C4.71030404,5.20487127 5.98232187,4.9328789 7.48872631,4.67779977 C11.8304388,3.94261858 17.1642044,3.5 23.5267334,3.5 C29.8892624,3.5 35.223028,3.94261858 39.5647405,4.67779977 C41.0711449,4.9328789 42.3431628,5.20487127 43.3853922,5.47506404 C43.9941848,5.63289047 44.3822639,5.75149179 44.554218,5.81218401 L43.5683267,4.18708948 L35.9865396,57.6494918 L36.5958992,56.642319 Z')
                  label.radio-label(for='t') TALL
                  
              .input-container
                input.radio-button.next(type='radio', name='size', value='grande')
                .radio-tile
                  .icon
                    svg(width='53px', viewbox='0 0 53 78', version='1.1')
                      g#assets(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                        g#Artboard-6(transform='translate(-306.000000, -355.000000)', fill='#4A4A4A')
                          g#Group-2(transform='translate(306.000000, 355.000000)')
                            path#Combined-Shape-Copy-7(d='M7,30.5597902 C8.79336764,28.973034 11.2138502,28 13.8773035,28 C19.4054335,28 23.8868683,32.1917402 23.8868683,37.3625139 C23.8868683,42.5332875 19.4054335,46.7250277 13.8773035,46.7250277 C11.9667889,46.7250277 10.18129,46.2243727 8.6625852,45.3556761 L7,30.5597902 Z')
                            path#Path-6-Copy(d='M52.014761,5.17163685 L52.1618686,4.0142907 L51.0763473,3.58681637 C50.7962407,3.47651138 50.273567,3.29829363 49.5034605,3.07554639 C48.2495563,2.71286449 46.7383678,2.3523412 44.9650528,2.01732149 C39.9393388,1.0678493 33.8061514,0.5 26.5267334,0.5 C19.2473154,0.5 13.114128,1.0678493 8.08841395,2.01732149 C6.31509902,2.3523412 4.80391046,2.71286449 3.5500063,3.07554639 C2.77989979,3.29829363 2.25722614,3.47651138 1.97711945,3.58681637 L0.889107048,4.01527169 L1.0391298,5.17494324 L9.6528743,71.758939 L9.72982647,72.3537771 L10.1956945,72.7315612 C10.9825116,73.369611 12.4355158,74.2743229 14.5270163,75.1636406 C17.9650896,76.6255285 21.9781197,77.5 26.5267334,77.5 C31.0768528,77.5 35.1202938,76.6095861 38.6084163,75.1218381 C40.727264,74.2181109 42.2077491,73.2999201 43.0125858,72.6541435 L43.4854376,72.2747414 L43.5618812,71.6733338 L52.014761,5.17163685 Z M41.1351214,70.3142445 C41.0051779,70.4185072 40.7078282,70.6304152 40.2488904,70.9150465 C39.4585457,71.405215 38.5174992,71.8991346 37.4314467,72.3623558 C34.3023174,73.6969866 30.6557693,74.5 26.5267334,74.5 C22.3961918,74.5 18.779557,73.7119063 15.700919,72.4028522 C14.6337545,71.9490879 13.7128516,71.4655083 12.9425608,70.9858873 C12.496318,70.7080346 12.2090411,70.5018006 12.0852612,70.4014244 L12.6280815,71.3740466 L4.01433699,4.79005083 L3.07634735,6.3781777 C3.26959717,6.30207662 3.70362784,6.15408376 4.38356478,5.95741736 C5.54639971,5.62107651 6.96527198,5.28257706 8.64533093,4.96517554 C13.4863995,4.05058709 19.4331425,3.5 26.5267334,3.5 C33.6203243,3.5 39.5670673,4.05058709 44.4081359,4.96517554 C46.0881948,5.28257706 47.5070671,5.62107651 48.669902,5.95741736 C49.349839,6.15408376 49.7838696,6.30207662 49.9771194,6.3781777 L49.0387058,4.79335722 L40.585826,71.2950542 L41.1351214,70.3142445 Z')
                  label.radio-label(for='g') GRANDE
                  
              .input-container
                input.radio-button.next(type='radio', name='size', value='venti')
                .radio-tile
                  .icon
                    svg(width='52px', viewbox='0 0 51 90', version='1.1')
                      g#assets(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                        g#Artboard-6(transform='translate(-385.000000, -343.000000)', fill='#4A4A4A')
                          g#Group-3(transform='translate(385.000000, 343.000000)')
                            path#Combined-Shape-Copy-8(d='M6,34.5597902 C7.79336764,32.973034 10.2138502,32 12.8773035,32 C18.4054335,32 22.8868683,36.1917402 22.8868683,41.3625139 C22.8868683,46.5332875 18.4054335,50.7250277 12.8773035,50.7250277 C10.9667889,50.7250277 9.18129002,50.2243727 7.6625852,49.3556761 L6,34.5597902 Z')
                            path#Path-6-Copy-2(d='M51.4911081,5.62923033 L51.6088376,4.55281432 L50.6242176,4.10219786 C49.5812666,3.6248859 47.5465327,2.94091773 44.4815373,2.26797044 C39.4420583,1.16150756 33.2942371,0.5 26,0.5 C18.7057629,0.5 12.5579417,1.16150756 7.5184627,2.26797044 C4.45346725,2.94091773 2.41873335,3.6248859 1.37578238,4.10219786 L0.389168993,4.55372662 L0.509207861,5.63209338 L9.12295235,83.0134939 L9.18392061,83.561201 L9.58497403,83.9391644 C10.3705917,84.6795514 11.8248001,85.7318447 13.9227063,86.7685415 C17.3799031,88.4769423 21.4197059,89.5 26,89.5 C30.5820357,89.5 34.6521828,88.45836 38.1593734,86.7199038 C40.2845226,85.6665027 41.7662716,84.5985052 42.5700994,83.8489488 L42.9776435,83.4689205 L43.0382282,82.9149862 L51.4911081,5.62923033 Z M40.524141,81.6548535 C40.3929019,81.7772317 40.0947156,82.0241961 39.6356743,82.3550584 C38.8470684,82.9234605 37.9088203,83.4957682 36.8270227,84.0319973 C33.7169615,85.573603 30.0971196,86.5 26,86.5 C21.9011388,86.5 18.3112768,85.5908873 15.2517622,84.0790042 C14.1889395,83.5538021 13.2708831,82.9935413 12.5023339,82.4374042 C12.0559228,82.1143725 11.7677112,81.8739153 11.642515,81.755927 L12.1045366,82.6815975 L3.49079214,5.30019702 L2.62421762,6.83009255 C2.81342682,6.74349997 3.24296823,6.57328721 3.91799179,6.34638057 C5.07521379,5.95738473 6.48808515,5.56565727 8.16181539,5.19817476 C12.989119,4.13829689 18.9212282,3.5 26,3.5 C33.0787718,3.5 39.010881,4.13829689 43.8381846,5.19817476 C45.5119148,5.56565727 46.9247862,5.95738473 48.0820082,6.34638057 C48.7570318,6.57328721 49.1865732,6.74349997 49.3757824,6.83009255 L48.5088919,5.30306008 L40.0560121,82.588816 L40.524141,81.6548535 Z')
                  label.radio-label(for='v') VENTI
            //.text-center
              //.button Next
                
          .modal-body.modal-body-step-6
            .title What name would you like on that order?
            .name-input-container
              form
                input(type="text" placeholder="Name")
            .text-center
              .button.submit Done!
                
          .modal-body.modal-body-step-7
            .description.output-text
            .final-drink-container
              .final-drink 
                .drink.drink-hot
                  svg(width='60px', viewbox='0 0 51 115', version='1.1')
                    g#assets(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Artboard-6(transform='translate(-257.000000, -59.000000)', fill='#4A4A4A')
                        g#hot-cup(transform='translate(257.000000, 59.000000)')
                          path#Combined-Shape(d='M48.0115007,40.7180052 L48.0758482,40.3674712 C48.025906,40.5706883 48,40.7815361 48,40.9951172 C48,41.6425803 48.2196166,42.171059 48.5314986,42.5584698 C48.6643177,42.7234539 48.765977,42.8100567 48.838099,42.8572989 C48.7353788,42.7900139 48.4414783,42.6564216 48.0039032,42.5030744 C46.8777821,42.1084278 45.1522839,41.6981734 43.0239583,41.333041 C38.1850791,40.5028902 31.9255803,40 25.5,40 C19.0744197,40 12.8149209,40.5028902 7.97604171,41.333041 C5.84771611,41.6981734 4.12221785,42.1084278 2.9960968,42.5030744 C2.55852166,42.6564216 2.26462121,42.7900139 2.16190101,42.8572989 C2.23402303,42.8100567 2.33568228,42.7234539 2.46850141,42.5584698 C2.78038342,42.171059 3,41.6425803 3,40.9951172 C3,40.7889976 2.97587012,40.5853266 2.92923557,40.388534 L2.98928994,40.7277176 L11.0267414,108.642539 L10.9872343,108.396661 C10.996204,108.440721 11.1511539,108.656065 11.5700739,108.981118 C12.2136226,109.480467 13.200994,109.982113 14.4662729,110.423736 C17.3169647,111.418719 21.21392,111.995117 25.5,111.995117 C29.4569851,111.995117 33.2270263,111.242975 36.2653164,109.998947 C37.5111525,109.488839 38.5503607,108.925094 39.2714053,108.394293 C39.554214,108.186102 39.7615615,108.001842 39.8813511,107.866001 C39.8837741,107.863253 39.8379914,107.938055 39.7750331,108.153447 L42.6545455,108.995117 L39.6768864,108.629677 L48.0115007,40.7180052 Z M42.6545455,108.995117 C42.0464755,111.075439 34.9741938,114.995117 25.5,114.995117 C16.0258062,114.995117 8.73212003,112.35791 8.04753196,108.995117 L0.0100804909,41.0802953 C0,39.3382629 11.4167389,37 25.5,37 C39.5832611,37 51,39.3382629 51,40.9951172 C51,41.0246601 42.6545455,108.995117 42.6545455,108.995117 Z')
                          path#logo(d='M5.05145499,64.7201931 C6.93219334,62.8594994 9.49408898,61.6938938 12.3346731,61.6443113 C18.230447,61.5414001 23.0941753,66.2851827 23.1981144,72.2398462 C23.3020534,78.1945097 18.6068436,83.1051442 12.7110697,83.2080553 C10.6734978,83.2436212 8.75919195,82.7003055 7.12202498,81.7281864 L5.05145499,64.7201931 L5.05145499,64.7201931 Z')
                          path#Path-3(d='M22.5755157,1.957055 C20.9631758,3.62594924 20,5.93019842 20,8.88409178 C20,11.8154257 21.0853512,13.4422964 23.9499024,16.1187347 C24.0139141,16.1785317 24.0139141,16.1785317 24.0775884,16.2380085 C26.4706467,18.4736351 27.2031622,19.579475 27.2031622,21.5844679 C27.2031622,23.8999272 26.6506532,25.4738585 25.7676826,26.4950968 C25.2928513,27.0442837 24.857361,27.3023374 24.6567252,27.3646431 C23.8655683,27.6103303 23.4233776,28.4508585 23.6690647,29.2420154 C23.9147519,30.0331724 24.7552801,30.4753631 25.546437,30.2296759 C26.2461965,30.0123715 27.1612991,29.4701193 28.0370607,28.4572188 C29.4050783,26.8749783 30.2031622,24.6014782 30.2031622,21.5844679 C30.2031622,18.5006546 29.081378,16.8071563 26.1255738,14.0458051 C26.0616071,13.9860551 26.0616071,13.9860551 25.9980254,13.9266598 C23.6984714,11.7781158 23,10.7311527 23,8.88409178 C23,6.72105264 23.6525469,5.15993513 24.733078,4.04150336 C25.1036944,3.65788732 25.4995712,3.35558702 25.8905243,3.12779715 C26.1090103,3.00049569 26.2609311,2.93161648 26.312219,2.91333536 C27.0925568,2.63519084 27.4996649,1.77712135 27.2215204,0.996783524 C26.9433758,0.216445697 26.0853064,-0.190662412 25.3049685,0.0874821125 C24.5652589,0.351145088 23.5626018,0.935345982 22.5755157,1.957055 Z')
                          path#Path-3-Copy(d='M13.0384613,16.7351068 C12.0742804,17.7331072 11.5,19.1069842 11.5,20.8292605 C11.5,22.6104615 12.1559951,23.5937553 13.777575,25.1088473 C13.8108757,25.1399554 13.8108757,25.1399554 13.8438275,25.170735 C14.9494445,26.203617 15.2356404,26.6356718 15.2356404,27.4158174 C15.2356404,28.4477811 15.0082116,29.0956572 14.6670413,29.4902526 C14.5172901,29.6634538 14.40688,29.7288784 14.4229643,29.7238835 C13.6318073,29.9695707 13.1896167,30.8100989 13.4353038,31.6012558 C13.6809909,32.3924128 14.5215192,32.8346034 15.3126761,32.5889163 C15.7957155,32.4389125 16.3857379,32.0892894 16.9364194,31.4523747 C17.7626367,30.4967769 18.2356404,29.1493321 18.2356404,27.4158174 C18.2356404,25.5568514 17.5601758,24.5371382 15.8918129,22.9785316 C15.8585687,22.9474788 15.8585687,22.9474788 15.825698,22.9167725 C14.7691153,21.9295747 14.5,21.5261885 14.5,20.8292605 C14.5,19.8978384 14.7636514,19.2670931 15.1960236,18.8195551 C15.3397842,18.6707519 15.4926015,18.5540573 15.6404949,18.4678868 C15.7131451,18.425557 15.7516381,18.4081047 15.7381101,18.4129266 C16.5184479,18.1347821 16.925556,17.2767126 16.6474115,16.4963748 C16.369267,15.716037 15.5111975,15.3089289 14.7308596,15.5870734 C14.2504136,15.7583241 13.6366519,16.115934 13.0384613,16.7351068 Z')
                          path#Path-3-Copy-2(d='M34.9796378,16.7526506 C34.0154568,17.7506511 33.4411765,19.1245281 33.4411765,20.8468044 C33.4411765,22.6280053 34.0971715,23.6112992 35.7187514,25.1263912 C35.7520522,25.1574993 35.7520522,25.1574993 35.785004,25.1882789 C36.890621,26.2211608 37.1768169,26.6532157 37.1768169,27.4333613 C37.1768169,28.4653249 36.949388,29.113201 36.6082177,29.5077965 C36.4584666,29.6809977 36.3480565,29.7464222 36.3641408,29.7414274 C35.5729838,29.9871145 35.1307931,30.8276427 35.3764803,31.6187997 C35.6221674,32.4099566 36.4626956,32.8521473 37.2538526,32.6064602 C37.736892,32.4564564 38.3269144,32.1068333 38.8775958,31.4699186 C39.7038131,30.5143208 40.1768169,29.166876 40.1768169,27.4333613 C40.1768169,25.5743952 39.5013522,24.554682 37.8329894,22.9960754 C37.7997451,22.9650227 37.7997451,22.9650227 37.7668744,22.9343163 C36.7102917,21.9471186 36.4411765,21.5437323 36.4411765,20.8468044 C36.4411765,19.9153823 36.7048279,19.284637 37.1372,18.837099 C37.2809607,18.6882958 37.433778,18.5716012 37.5816714,18.4854307 C37.6543216,18.4431008 37.6928145,18.4256485 37.6792865,18.4304705 C38.4596244,18.152326 38.8667325,17.2942565 38.5885879,16.5139186 C38.3104434,15.7335808 37.4523739,15.3264727 36.6720361,15.6046172 C36.1915901,15.775868 35.5778284,16.1334779 34.9796378,16.7526506 Z')
                .drink.drink-cold
                  svg(width='60px', viewbox='0 0 51 110')
                    g#assets(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      g#Artboard-6(transform='translate(-383.000000, -65.000000)', fill='#4A4A4A')
                        g#cold-cup(transform='translate(383.000000, 65.000000)')
                          path#Combined-Shape(d='M42.8001555,37.1526263 C44.4659413,37.5107754 45.8885507,37.8928536 47.0678101,38.2726729 C47.474293,38.4035942 47.8198446,38.5241268 48.1044367,38.6309983 C48.2669067,38.6920099 48.3683501,38.7328127 48.4087353,38.750134 L47.5083681,37.2133593 L42.108047,88.1244921 L42.2953526,87.5419495 L40.7268914,90.3036682 L40.589407,90.5457484 L40.5479457,90.8210405 L38.5126762,104.334712 L39.0834252,103.3676 C39.0024459,103.429671 38.7822781,103.574834 38.418118,103.777208 C37.7730498,104.13569 36.9743044,104.499534 36.0166415,104.842897 C33.2228341,105.844595 29.7324257,106.451051 25.499785,106.45166 C21.2675752,106.451051 17.7771664,105.844595 14.9833586,104.842897 C14.0256957,104.499534 13.2269502,104.13569 12.581882,103.777208 C12.2177219,103.574834 11.9975541,103.429671 11.9165748,103.3676 L12.4873238,104.334712 L10.4520543,90.8210405 L10.410593,90.5457484 L10.2731086,90.3036682 L8.70464739,87.5419495 L8.89195301,88.1244921 L3.49163186,37.2133593 L2.59126471,38.750134 C2.63166381,38.7328067 2.73313804,38.6919919 2.89565551,38.6309637 C3.18032878,38.5240638 3.52597819,38.4035008 3.93257576,38.2725487 C5.11216511,37.8926404 6.53517128,37.5104871 8.20142064,37.1522874 C12.9980266,36.1211437 18.7644862,35.5003992 25.5000885,35.5 C32.2363062,35.5003993 38.0032912,36.1212856 42.8001555,37.1526263 Z M7.57090446,34.2192942 C5.80634416,34.5986281 4.28686588,35.0066893 3.0128928,35.4169956 C2.23186019,35.6685414 1.69702197,35.8693828 1.40873529,35.9930297 L0.391630477,36.4292687 L0.508368137,37.5298044 L5.90868928,88.4409372 L5.94165523,88.7517213 L6.0959949,89.0234798 L7.6644561,91.7851986 L7.48551041,91.2678263 L9.52077989,104.781498 L9.61095703,105.380251 L10.0915288,105.74861 C10.7650189,106.264841 12.0460672,106.976754 13.9708455,107.666869 C17.0895485,108.785055 20.9223463,109.451001 25.499785,109.451659 C30.0776546,109.451001 33.910452,108.785055 37.0291547,107.666869 C38.9539329,106.976754 40.2349811,106.264841 40.9084712,105.74861 L41.389043,105.380251 L41.4792201,104.781498 L43.5144896,91.2678263 L43.3355439,91.7851986 L44.9040051,89.0234798 L45.0583448,88.7517213 L45.0913107,88.4409372 L50.4916319,37.5298044 L50.6083695,36.4292687 L49.5912647,35.9930297 C49.3030516,35.8694143 48.7683547,35.6686221 47.9875311,35.4171321 C46.7139024,35.0069181 45.1948358,34.5989338 43.4307543,34.2196508 C38.4279978,33.1440426 32.4497557,32.5004119 25.5000893,32.5 C18.5510655,32.5004119 12.5733768,33.1438946 7.57090446,34.2192942 Z')
                          path#Combined-Shape-Copy(d='M4.19905287,57.3064396 C6.2315362,55.3592909 8.97474978,54.1652562 11.9933301,54.1652562 C18.2585441,54.1652562 23.3375036,59.3090468 23.3375036,65.6542341 C23.3375036,71.9994215 18.2585441,77.1432121 11.9933301,77.1432121 C9.82808031,77.1432121 7.80451489,76.5288456 6.08331611,75.462846 L4.19905287,57.3064396 Z', transform='translate(13.768278, 65.654234) rotate(-1.000000) translate(-13.768278, -65.654234) ')
                          path#Oval-5(d='M25.5060433,13.5 C12.2656707,13.5 1.51208669,23.8964795 1.51208669,36.7469783 L4.51208669,36.7469783 C4.51208669,25.5764282 13.9002775,16.5 25.5060433,16.5 C37.1118092,16.5 46.5,25.5764282 46.5,36.7469783 L49.5,36.7469783 C49.5,23.8964795 38.746416,13.5 25.5060433,13.5 Z')
                          path#Line(d='M27,1.5 C27,0.671572875 26.3284271,0 25.5,0 C24.6715729,0 24,0.671572875 24,1.5 L24,20.5 C24,21.3284271 24.6715729,22 25.5,22 C26.3284271,22 27,21.3284271 27,20.5 L27,1.5 Z')
                          path#Path-2(d='M4.0025075,37.9634121 C5.31168337,38.0552758 6.89744376,37.4505738 8.29924494,35.7063108 C8.98758264,34.8498113 9.58415271,33.7589307 10.0770081,32.4148399 C10.7376949,30.613048 11.6915715,29.805331 13.9655989,28.7388434 C14.0760804,28.687029 14.1805904,28.6383985 14.4001508,28.5363991 C16.6902429,27.4714693 17.7526456,26.7741063 18.7393449,25.3269331 C19.2234132,24.6169593 19.8753572,24.3205982 21.1478277,24.1557515 C21.3585156,24.1284572 21.5077958,24.1123634 21.9408316,24.0684057 C24.8877748,23.7692603 26.2620184,23.1198894 26.8861704,20.6838167 C26.9228973,20.5404713 26.8335612,20.5974089 27.0420465,20.6162868 C27.57379,20.664435 28.4215112,21.0294732 29.3951958,21.660923 C31.4022691,22.9625419 33.5028599,25.0962862 34.2277273,26.5302273 C35.6420195,29.3279966 37.1931023,30.4074942 40.0579063,31.3038845 C40.1743004,31.3402167 40.1743004,31.3402167 40.2886231,31.3757393 C40.6957661,31.5022634 40.8813467,31.5615583 41.0990271,31.6366833 C41.4793205,31.7679287 42.1280756,32.5573986 42.7602859,33.7631521 C43.0688341,34.351616 43.3532588,34.990854 43.604254,35.6311147 C43.7545075,36.0143944 43.8585643,36.3081589 43.9097501,36.4652351 L46.7621249,35.5357415 C46.6938038,35.3260818 46.5705276,34.9780585 46.3973032,34.5361824 C46.1091686,33.8011835 45.7816806,33.0651619 45.4172141,32.3700502 C44.4492562,30.523958 43.4115107,29.2611259 42.0777308,28.8008167 C41.8212536,28.7123023 41.615301,28.6464984 41.1789076,28.5108845 C41.0653286,28.4755924 41.0653286,28.4755924 40.9537683,28.4407688 C38.7926289,27.7645535 37.898721,27.1424259 36.9050852,25.1768039 C35.9163685,23.220913 33.4480295,20.7136163 31.0275337,19.1438865 C27.7819934,17.0391023 24.7924452,16.7684053 23.9800405,19.9392302 C23.7733208,20.7460598 23.4474286,20.9000535 21.6378574,21.0837438 C21.1756303,21.1306647 21.0107442,21.148441 20.7624028,21.1806132 C18.7237614,21.4447163 17.3203694,22.0826711 16.2606551,23.636934 C15.6727452,24.4992105 14.9573645,24.9687876 13.1351825,25.8161316 C12.9161959,25.9178615 12.807027,25.9686598 12.6917711,26.0227133 C9.77045673,27.3927696 8.25158487,28.6789093 7.2603942,31.3820351 C6.87548372,32.4317438 6.43537458,33.2365218 5.96082371,33.8270061 C5.50934559,34.3887809 5.06742942,34.7125959 4.65040188,34.8716221 C4.42957532,34.9558304 4.27500447,34.9751564 4.21249863,34.9707705 C4.23244408,34.97234 3.87312039,37.9505561 3.87312039,37.9505561 C3.92459514,37.9570064 3.92459514,37.9570064 4.0025075,37.9634121 Z')
                          path#Path-4(d='M11.1672784,30.4881311 C11.6727388,30.5843018 12.2387997,30.6801532 12.8534554,30.7694898 C15.0830651,31.0935505 17.3475036,31.2507418 19.4837652,31.1478999 C22.0860522,31.0226231 24.2979675,30.5188472 26.0094402,29.5205385 C26.7250272,29.1031338 26.9667518,28.1846625 26.5493471,27.4690754 C26.1319424,26.7534884 25.2134711,26.5117639 24.497884,26.9291686 C23.2719385,27.6442674 21.5026401,28.0472348 19.3395091,28.1513703 C17.4207076,28.2437434 15.3391236,28.0992453 13.2849539,27.8006838 C12.7151807,27.7178706 12.1919744,27.6292758 11.72801,27.5410003 C11.4541056,27.4888863 11.2641319,27.4492404 11.1706302,27.4281989 C10.3624152,27.2463196 9.55978522,27.754065 9.37790595,28.56228 C9.19602667,29.370495 9.70377206,30.1731249 10.511987,30.3550042 C10.637051,30.3831484 10.859528,30.4295774 11.1672784,30.4881311 Z')
                          path#Path-5(d='M8.63326273,90.8333849 C9.59091011,91.1575932 10.7066589,91.4800463 11.97192,91.7798878 C15.5638656,92.6311068 19.6490092,93.140625 24.1572266,93.140625 C24.9856537,93.140625 25.6572266,92.4690521 25.6572266,91.640625 C25.6572266,90.8121979 24.9856537,90.140625 24.1572266,90.140625 C19.8902364,90.140625 16.0360184,89.6599089 12.6637001,88.8607372 C11.4914689,88.5829419 10.4657191,88.2864986 9.59526815,87.9918104 C9.08568922,87.8192942 8.74883937,87.6893417 8.59356688,87.6224375 C7.83276013,87.2946196 6.95025546,87.6456264 6.62243753,88.4064331 C6.29461959,89.1672399 6.64562638,90.0497445 7.40643312,90.3775625 C7.63418675,90.4756974 8.04598268,90.6345632 8.63326273,90.8333849 Z')
                          path#Path-5-Copy(d='M41.7033425,88.0446827 C41.0680606,88.3305189 40.3172662,88.6188912 39.457758,88.8895947 C36.9782985,89.6705044 34.142179,90.140625 31,90.140625 C30.1715729,90.140625 29.5,90.8121979 29.5,91.640625 C29.5,92.4690521 30.1715729,93.140625 31,93.140625 C34.4605746,93.140625 37.5982908,92.6205112 40.3589717,91.7510303 C42.0389441,91.2219203 43.2368662,90.682932 43.902635,90.3016782 C44.621532,89.8900005 44.8705825,88.9734886 44.4589048,88.2545916 C44.0472271,87.5356945 43.1307152,87.286644 42.4118181,87.6983218 C42.3089648,87.7572209 42.0705228,87.879475 41.7033425,88.0446827 Z')
                .rays-container
                  .left
                    .ray.top
                    .ray.middle
                    .ray.bottom
                  .right
                    .ray.top
                    .ray.middle
                    .ray.bottom
            .for for
            .name
            .text-center
              .rerun-button New Order
                         
    script(src='js/functions.js', type='text/javascript')
